<h1 class="brand">The Flatiron School</h1>

<ul class="courses">
  
</ul>

<div class="new-course">
  <input type="text" class="course-input" placeholder="course name">
  <input type="text" class="course-details" placeholder="details">
  <input type="submit" value="Add Course">
</div>




